body, html {
  height: 100%;
}


h1{
  font-family: 'Chewy', cursive;;
}

.beach {
  height: 100%;
  background-image: url("images/beach.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
